{% extends "base.html" %}

{% block content %}
<h2>{{ 'Редактировать запись' if fish_inventory else 'Новая запись' }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.control_date.label(class="form-control-label") }}
        {{ form.control_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.pool_id.label(class="form-control-label") }}
        {{ form.pool_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fish_type_id.label(class="form-control-label") }}
        {{ form.fish_type_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.control_desc.label(class="form-control-label") }}
        {{ form.control_desc(class="form-control") }}
    </div>
    <hr>
    <div class="form-group">
        {{ form.fish_number.label(class="form-control-label") }}
        {{ form.fish_number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fish_biomass.label(class="form-control-label") }}
        {{ form.fish_biomass(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fish_survival.label(class="form-control-label") }}
        {{ form.fish_survival(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fish_biometric.label(class="form-control-label") }}
        {{ form.fish_biometric(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fish_comment.label(class="form-control-label") }}
        {{ form.fish_comment(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('inventory') }}" class="btn btn-secondary">Отмена</a>
    </div>
</form>
{% endblock %}

