{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ 'Редактировать запись о Басейне' if pool else 'Новая запись о Басейне' }}</h2>
    </div>
    <div class="card-body">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('pools') }}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
